Source: anki
Maintainer: Andreas Bombe <aeb@debian.org>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 6)
Build-Depends-Indep: unicode-data, bzip2, python-support (>= 0.6),
	python-sqlalchemy (>= 0.4.1), python-pysqlite2
Standards-Version: 3.8.0
Homepage: http://ichi2.net/anki

Package: anki
Architecture: all
Section: misc
Depends: ${python:Depends}, python-qt4 (>= 4.4), python-simplejson (>= 1.7.3),
	python-sqlalchemy (>= 0.4.1), python-pysqlite2 (>= 2.3.0)
Recommends: python-matplotlib, kakasi
Suggests: dvipng
Description: flashcard learning program with special support for Japanese
 Anki is a program designed to help you remember facts (such as words and
 phrases in a foreign language) as easily, quickly and efficiently as possible.
 To do this, it tracks how well you remember each fact, and uses that
 information to optimally schedule review times.
 .
 While Anki can be used for studying anything, it also ships with special
 features designed to make studying Japanese and English easier: integrated
 dictionary lookups, missing kanji reports, and more.
 .
 Besides text, it supports sounds, images and rendering TeX snippets in the
 cards.  Sample card decks are included for a subset of the Japanese Language
 Proficiency Test vocabulary and for some Russian vocabulary.
